*
{
	font-family:Times new roman;
	font-size:16px;
	margin:0;
	padding:0;
}

#Cabecera
{
	height:150px;


}

#Cabecera,#Menu, #Pie ,#Slide, .PanelCuerpo
{
	width:1024px;
	margin:auto; 
	padding:3px;
	box-sizing: border-box;
}

#ContenCabecera, #ContenMenu, #ContenPie
{
	width:100%;
}

#ContenCabecera
{
	background:white
}
#ContenMenu
{
	background:pink;
	border-bottom:1px dotted #FF5733 ;
}

#ContenPie
{
	background:black; 
	clear:both;
}
#Slide
{
	max-width:500px;
	min-height:270px;
	padding-top:105px;
	background:black;	
}

 #Cuerpo   
{
	/*Damos algo mas de anchura al cuerpo para que Contenido y Panel
	ocupen los 1024px que estamos usando como estandar para la anchura de 
	nuestro diseño*/
	width:80%;
	padding:3px;
	box-sizing: border-box;
	margin:auto;
	display:block; 
}
#Menu
{
	height:30px;
}
#Menu ul li  
{
	 
	margin-left:3px;
}


#Contenido, #Panel
{
	min-height:450px;
	padding:3px;
	box-sizing: border-box; /*Evitar que el padding agrande la anchura de un elemento*/
}

#Contenido
{
	width:100%;
	float:left;
}

#Panel
{
	background:#ddd;
	width:320px;
	float:right;
}

#Pie
{
	height:120px;
	background:gray;
	color:#fff;
	text-align:center;
	padding-top:35px;
	 
	 
}
#Logo{
	max-width:110px;
	 
	float:left;
	
}

 
#Menu ul 
{
	margin-top:4px
}
/*Estilo en Cascada*/
#Menu ul li
{
	display:inline;
	padding:3px;
}
/*Selector Tipo Clase: se usan cuando a muchos contenidos deseamos darle un mismo estilo*/
.ImContenido
{
	width:400px;
	height: 200px;
	display:inline-table;
	margin:10px;
	box-sizing: border-box;
	border:1px dotted #900C3F;
	border-radius:8px;
	min-height:270px;'
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.RedesSociales{
	max-width:202px;
	float:right;
	color:#fff;
	text-align:center;
	font-size:12px;
	margin-top:18px;
}
.RedesSociales section{
	width:100%;
	display:block;
	margin-top:8px;
}
.RedesSociales section img{
	width:23%;
	display:inline-table;
}
#MovilMenu{display:none}
/*Campos del Formulario Contacto*/

.PromoHeader *
{
	font-size:18px;
	color:#fff;
	background:#172c45;
	height:58px;
	padding:15px;
	margin-top:31px;
	margin-left:105px;
	float:left;
	float:left;
	max-width:330px;
	box-sizing:border-box;
	margin-left:-10px;
	/*display:none;*/
}
.frmCampos
{	
	margin:0;
	padding:0;
	display:block;
	width:95%;
	border-right:2px solid #900C3F;
	height:35px;
	border-radius:9px;
	padding:5px;
	font-size:16px; 
	font-weight:bold;
	margin-bottom:4px;
}

/*Diseño del Formulario Contacto para aplicar jQuery*/
#FormContacto, #ClickF {
    padding: 5px;
    text-align: center;
    background-color: #7d8288;
    border: solid 1px #c3c3c3;
	color:#fff;
}

#FormContacto {
    padding: 50px;
    display: none;
}


/*Trabajando Responsive Web Design*/
/*Semantica @MediaQuery-Ejemplo */
/*@media (max-width: 380px)
	{
		/*Declarar estilos aqui
		#Contenido, #Panel{
			width:100%;
			display:block;
		}
		#Slide{
			display:none;
		}
	}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
*/
@media (max-width: 380px)
	{
		/*Declarar estilos aqui*/
		#Contenido, #Panel, #Cabecera, #Cuerpo, #Pie{
			width:100%;
			display:block;
		}
		#Slide, #Menu, .RedesSociales{
			display:none;
		}
		#Contenido .ImContenido
		{
			width:99%;
			display:block;			
		}
		
	}
	
/*Para movil con estas dimensiones*/	
@media (max-width: 520px)
	{
		/*Dar apariencia a los contenidos 
		o elementos deseados*/
	}	
/*Ejemplo para Tablet y Usando la orientacion del Dispositivo*/
@media (max-width: 760px) and (orientation: landscape)
{
		/*Dar apariencia a los contenidos 
		o elementos deseados*/	
}
